* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown

/.github export-ignore

src/jste.js linguist-detectable=true
src/css/jste.css linguist-detectable=true

index.html linguist-vendored
README.md linguist-vendored
LICENSE linguist-vendored
jest.config.js linguist-vendored
babel.config.js linguist-vendored
test/ linguist-vendored
doc/ linguist-vendored
